.heading {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.discord-logo {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin: 0;
  height: 20px;
}
